

/*-------------------------------------*/
/*  SHEARED STYLES */
/*-------------------------------------*/


.icon{
    border-radius: 50%;
    width:48px;
    height:48px;
}

ul {
    padding-left: 1%;
    margin-left: 1%;
}

li {
    list-style-type: none;

}

/*-------------------------------------*/
/*  task-list-item */
/*-------------------------------------*/
.task-list-item-item{
    display: flex;
    padding: 5px;
}

li{
    /*margin: 5px;*/
}

.task-list-item{
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 2px;
}

.task-list-item:hover{
    border: solid 1px #F9DF2C;
}

.task-list-item:active{
    transform: scale(0.95,0.95);
    margin-bottom:4px;
}

/* parent */
.task-list-item-header{
    display: inline-block;
    font-size: 12px;
    padding-top: 6px;
    float: left;

}

/* parent */
.task-list-item-detail{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.task-list-item-detail-top{
    display: flex;
    justify-content: space-between;
}

.task-list-item-username {
    margin-left: 3px;
    margin-right: 3px;
}


.task-list-item-timestamp {
    text-align: left;
}

.task-list-item-title {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.task-list-item-photo img{
    width: 34px;
    height: 34px;
}

.task-list-item-type{
    float: right;
    text-align: center;
    color: white;
    background-color: #F9DF2C;
    width: 5em;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
}