

/*-------------------------------------*/
/*  SHEARED STYLES */
/*-------------------------------------*/


.icon{
    border-radius: 50%;
    width:48px;
    height:48px;

}

ul {
    padding-left: 1%;
    margin-left: 1%;
}

li {
    list-style-type: none;

}

/*-------------------------------------*/
/*  TASK-LIST */
/*-------------------------------------*/

li{
    margin: 5px;
}
li.task-list{
    margin-top: 1%;
    background-color: dodgerblue;
    /*border: 1px solid dodgerblue;*/
    display: block;

    /*margin-bottom: 3%;*/
}

li.task-list{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 2px;
    width: 340px;
}

li.task-list.on{
    background-color: #F6F7F9;
    border: 1px solid black;
    width: 340px;
    border-radius: 5px;
    margin-bottom: 2px;
}

li.task-list:hover{
    margin-top: 1%;
    background-color: #F6F7F9;
    width: 340px;
    transform: scale(1.1,1.1);
    z-index: 100;
    margin-bottom: 5px;
}

li.task-list:active{
    background-color: #F6F7F9;
    width: 340px;
    transform: scale(0.95,0.95);
    z-index: auto;
    margin-bottom:4px;
}


li.task-list, li.task-list.on{
    /*display: block;*/
    /*padding: 3px;*/
    height: 50%;
}

/* header */
ul li.task-list.on .header,li.task-list .header{
    display: inline-block;
    font-size: 12px;
    padding-top: 4px;
}

li.task-list .detail, li.task-list.on .detail{
    display: block;
    font-size: 12px;
}

li.task-list.on .header .type,
li.task-list .header .type{
    float: right;
    text-align: center;
    color: white;
    background-color: #F9DF2C;
    width: 5em;
    border-radius: 5px;
    /*border: 1px solid black;*/
    margin-left: 3px;
    margin-right: 3px;
}

li.task-list.on .header .username,
li.task-list .header .username {
    text-align: center;
    float: right;
    /*margin-left: 30px;*/
    background-color: white;
    width: 10em;
    border-radius: 5px;
    /*border: 1px solid black;*/
    margin-left: 3px;
    margin-right: 3px;
}


li.task-list.on .header .timestamp,
li.task-list .header .timestamp {
    text-align: center;
    float: right;
    /*margin-left: 30px;*/
    /*background-color: white;*/
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;

}


li.task-list.on .detail .title,
li.task-list .detail .title {
    /*text-align: center;*/
    /*float: right;*/
    /*margin-left: 30px;*/
    /*background-color: white;*/
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
}



